:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground: rgb(76, 76, 76);
  --foreground-line: rgb(182, 182, 182);
  --background: rgb(227, 227, 227);
  --card-background: rgb(247, 247, 247);
  --divider-color: rgb(210, 210, 210);
  --editor-font-size: 20px;
  --editor-line-height: 1.5;
  --editor-selection: rgba(65, 181, 194, 0.5);
  --editor-selection-color: rgb(255, 255, 255);
}


[data-theme='dark'] {
  --foreground: rgb(211, 211, 211);
  --foreground-line: rgb(93, 93, 93);
  --background: rgb(26, 26, 26);
  --card-background: rgb(39, 39, 39);
  --divider-color: rgb(40, 40, 40);
  --editor-selection: rgba(97, 29, 165, 0.734);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto Flex';
  max-width: 100vw;
  overflow-x: hidden;
}

input {
  font-family: 'Roboto Flex';
  line-height: 1.5;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Prism live override styles */

textarea.prism-live,
pre.prism-live {

  background: transparent;

}

/* Material icons size */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}